.people_list {
    float: left;
    width: 50%;

}

.products_list {
    float: right;
    width:50%;
}

img {
    max-width:100px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}