<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Angular app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>

</head>
<body>

    <div class="people-list" ng-controller="firstController">
        <div ng-repeat="person in people">
            <h2>{{ person.name }}</h2>
            <h2>{{ person['home city'] }}</h2>
            <h3>{{ person.age }}</h3>

        </div>
        <span>People lenght: {{ people.length }}</span>
        <button ng-click="addPerson()">Add user</button>
        <button ng-click="removePerson()">Remove  user</button>
    </div>


<script src="js/controller.js"></script>
</body>
</html>
